.main-container {
  margin: 0 15%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: sans-serif;
  /* position: relative; */
}
.header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  top: 0;
}
.show-mobile {
  display: none;
  width: 2em;
  height: 1.7em;
}
.header-center {
  flex-basis: 50%;
}
.header-center-list,.show-desktop {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}
.icon {
  flex-basis: 20%;
  text-decoration: none;
  color: blue;
  font-size: x-large;
  font-weight: bolder;
  padding: 0 2em;
}
.center-tabs {
  text-decoration: none;
  color: black;
}
.header-right {
  flex-basis: 30%;
  background-color: inherit;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-end;
}
.button {
  border: 2px dotted blue;
  margin: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: blue;
  border-radius: 8%;
}
.header-button {
  text-decoration: none;
  color: white;
}
.section-1 {
  margin-top: 5em;
  display: flex;
  /* border:2px solid black; */
}
.section-1-left {
  margin-left: 2em;
  /* border: 2px solid red; */
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-1-right {
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-basis: 50%;
}
.illustration {
  width: 450px;
  height: 450px;
}
.text-block-1 {
  font-size: xx-large;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.unique {
  color: blue;
}
.text-block-2 {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  color: grey;
  padding: 0;
  margin: 0;
  font-size: large;
}
.section-buttons {
  margin-top: 2em;
  display: flex;
  align-items: flex-end;
}
.button-1-container,
.button-2-container {
  /* border: 2px dotted blue; */
  margin-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3em;
  border-radius: 5%;
}
.button-1-container {
  background-color: blue;
}
.button-2-container {
  background-color: aliceblue;
}
.button-1 {
  color: white;
  text-decoration: none;
}
.button-2 {
  color: blue;
  text-decoration: none;
}
.section-2 {
  display: flex;
  margin-top: 4em;
  margin-left: 2em;
}
.section-2-design {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: flex-start;
  margin: 1em;
}
.icons {
  width: 40px;
  height: 40px;
}
.icon-details {
  color: black;
  font-size: large;
}
.sub-details {
  color: grey;
  font-size: medium;
}
.landings-block {
  display: none;
  width: 50%;
  /* border: 1px solid red; */
}
.landing:hover .landings-block {
  display: flex;
  position: absolute;
  top: 3em;
  left: 0;
  width: 50vw;
  height: 40vh;
  padding: 1em;
}

.landings-1 {
  flex-basis: 50%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
.block-a {
  margin: 0;
  padding: 0;
  color: white;
}
.services-list,
.apps-list,
.landings-3-list {
  list-style-type: none;
}
.dropdowns-link {
  text-decoration: none;
  color: black;
  /* padding: 1em; */
  cursor: pointer;
}
.dropdowns-headings {
  color: blue;
  padding: 0;
  margin: 0;
}
.landings-2,
.landings-3 {
  background-color: white;
  padding-left: 0;
  margin-left: 0;
}
.landings-2 li,
.landings-3 li {
  padding-bottom: 0.2em;
}
.pages-dropdown {
  display: none;
  width: 50%;
  background-color: white;
}
.pages:hover .pages-dropdown{
  display: flex;
  position: absolute;
  top: 3.2em;
  /* left: 10em; */
  border: 2px solid brown;
}
.pages-box-1, .pages-box-2{
  display:flex;
}
.pages-1,
.pages-2,
.pages-3,
.pages-4 {
  flex-basis: 25%;
}
.pages-dropdown ul {
  list-style-type: none;
  padding-bottom: 1em;
}
.pages-dropdown li {
  padding: 0.2em;
}
.pages-4 {
  margin-right: 3em;
}
.account-dropdown {
  display: none;
}
.account:hover .account-dropdown {
  display: flex;
  position: absolute;
  top: 3.4em;
  border: 2px solid red;
}
.settings-dropdown-content,
.sign-in-dropdown-content,
.sign-up-dropdown-content,
.password-reset-dropdown-content,
.error-dropdown-content {
  display: none;
  background-color: white;
}
.settings-dropdown:hover .settings-dropdown-content {
  display: flex;
  position: absolute;
  top: 0em;
  right: -10.7em;
  border: 2px solid red;
}
.account-dropdown-list {
  list-style-type: none;
}
.account-dropdown-list a {
  color: black;
  text-decoration: none;
  /* padding: 1em; */
}
.settings-dropdown-content {
  background-color: white;
}
.account-dropdown-list li {
  padding-bottom: 0.5em;
}
.sign-in-dropdown:hover .sign-in-dropdown-content {
  display: flex;
  position: absolute;
  top: 2em;
  right: -10.5em;
  border: 2px solid red;
}
.sign-up-dropdown:hover .sign-up-dropdown-content {
  display: flex;
  position: absolute;
  top: 3.5em;
  right: -10.5em;
  border: 2px solid red;
}
.password-reset-dropdown:hover .password-reset-dropdown-content {
  display: flex;
  position: absolute;
  top: 5em;
  right: -7.5em;
  border: 2px solid red;
}
.error-dropdown:hover .error-dropdown-content {
  display: flex;
  position: absolute;
  top: 6.5em;
  right: -7.5em;
  border: 2px solid red;
}
.documentation-dropdown {
  display: none;
}
.documentation:hover .documentation-dropdown {
  display: block;
  position: absolute;
  top: 3em;
  /* left: 37em; */
  border: 2px solid red;
}
.documentation-dropdown-list {
  list-style-type: none;
}
.documentation-dropdown-list-element img {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  margin-left: 0;
  padding-left: 0;
}
.documentation-dropdown-list-element a {
  display: flex;
  text-decoration: none;
}
.paragraph-style {
  color: rgb(80, 75, 75);
}
.companies{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin:5em 0;
}
.companies > img{
  width:120px;
  height:100px;
  filter:grayscale();
}
@media screen and (max-width: 700px) {
  .main-container {
    margin: 0;
    overflow: hidden;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .header-right{
    display:none;
  }
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .header-center-list{
    width: 100%;
    background-color: white;
    display: block;
    flex-direction: column;
    position: absolute;
    top: 2em;
    left: 0;
  }
  .landings-1 {
    display: none;
  }
  .landing,
  .pages,
  .account,
  .documentation {
    pointer-events: none;
    margin: 2em 0;
    font-weight: bold;
  }

  .landings-block,
  .pages-dropdown,
  .account-dropdown,
  .documentation-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;
  }
  .dropdowns-headings {
    color: rgb(54, 54, 202);
  }
  .dropdowns-link {
    color: rgb(80, 75, 75);
  }
  .section-2{
    display:flex;
    flex-direction: column;
  }
}
